body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clickable {
  cursor: pointer;
}
.navbar {
  margin-bottom: 30px;
}
.backGround {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
.navBarGradient {
  background: hsla(216, 99%, 26%, 1);

  background: linear-gradient(
    180deg,
    hsla(216, 99%, 26%, 1) 0%,
    hsla(44, 25%, 88%, 1) 100%
  );

  background: -moz-linear-gradient(
    180deg,
    hsla(216, 99%, 26%, 1) 0%,
    hsla(44, 25%, 88%, 1) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    hsla(216, 99%, 26%, 1) 0%,
    hsla(44, 25%, 88%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#013686", endColorstr="#E8E4D9", GradientType=1 );
}
.formWidth {
  padding-left: 25%;
  padding-top: 5%;
  width: 70%;
}
